.filtersSidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 12px;
  width: 324px; /* fixed по фигме */
  gap: 40px;
}

h2,
h3 {
  margin: 0;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.filterHeaderTitle {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: 24px;
}

.resetBtn {
  padding: 0;
  min-height: 24px;
  gap: 4px;
}

.resetBtn:focus-visible {
  outline: none;
}

.resetBtn:hover:not(:disabled) {
  background-color: transparent;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 284px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.section h3 {
  margin: 0;
}

.sectionTitle {
  font-family: var(--font-family-primary);
  font-size: 20px;
  font-weight: var(--font-weight-medium);
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.categoryCheckbox:hover + img {
  display: inline;
}

.subcategoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
}

.arrowBtn {
  color: var(--color-accent);
  padding: 0;
  min-height: 24px;
  gap: 4px;
}

.arrowBtn:hover {
  background-color: transparent;
}

.arrowBtn:hover:not(:disabled) {
  background-color: transparent;
  outline: none;
}

.arrowBtn:focus-visible {
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.iconRotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.iconVisible {
  display: inline;
}

.hidden {
  display: none;
}
