.sidebar {
  background-color: var(--color-secondary);
  min-height: 272px;
}

.menuList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
}

.menuItem {
  width: 100%;
}

.menuButton {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px 20px;
  width: 100%;
}

.menuButton:hover {
  background-color: var(--color-hover);
  text-decoration: none;
}

.active {
  background-color: var(--color-primary);
}

.icon {
  height: 24px;
  width: 24px;
  fill: currentColor;
}
