# App
PORT=3000
HASH_SALT=10

# JWT
JWT_ACCESS_SECRET=jwt-access-secret
JWT_REFRESH_SECRET=jwt-refresh-secret
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=test
DB_PASSWORD=test
DB_DATABASE=skillswap_database
DB_TYPE=postgres

# TypeORM
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true

# Admin seeding
ADMIN_EMAIL=admin@skillswap.ru
ADMIN_PASSWORD=admin123

#Logger
LOG_LEVEL=info