.wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.registrationButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .settingsButtons {
    display: none;
  }
}
