.authForm {
  max-width: 556px;
  width: 100%;
  border-radius: 12px;
  padding: 85.5px 60px;
  background-color: var(--color-secondary);
  margin: 0 auto;
}

.authFormContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.socialButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
}

.socialIcon {
  width: 24px;
  height: 24px;
}

.socialButton {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text);
  font-size: var(--font-size-base, 1rem);
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--color-disable-button);
}

.divider span {
  padding: 0 16px;
}

.registerLink {
  text-align: center;
}

.linkButton {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-accent);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.inputsGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.informationFromUser {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 1023px) {
  .authForm {
    padding: 45px 30px;
  }
}
