.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.chip {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: var(--color-secondary);
  border-radius: 12px;
  color: var(--color-text);
}

.removeButton {
  width: 24px;
  height: 24px;
}
