.registerForm {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  padding: 50px 60px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldsGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.buttonsContainer button {
  flex: 1;
}

@media (max-width: 1023px) {
  .registerForm {
    padding: 10px 30px;
  }

  .fieldsGroup {
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .registerForm {
    gap: 8px;
  }
}
