.container {
  position: relative;
  width: 206px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: var(--color-border);
}

.inputField {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 12px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  color: var(--color-text);
}

.iconWrapper {
  position: absolute;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.calendarIcon {
  width: 20px;
  height: 20px;
}

.calendarPopup {
  position: absolute;
  top: 55px;
  z-index: 1000;
  background: white;
  padding: 16px 28px;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  min-width: 280px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 16px;
}

:global(.react-datepicker__day--selected) {
  background-color: #abd27a !important;
  border-radius: 50% !important;
}

:global(.react-datepicker) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  border: none !important;
}

:global(
  .react-datepicker__header:not(
    .react-datepicker__header--has-time-select,
    .react-datepicker__header--middle,
    .react-datepicker__header--bottom
  )
) {
  background-color: var(--color-secondary) !important;
  color: #abd27a !important;
}

:global(.react-datepicker__day--today) {
  border: none !important;
  border-radius: 50% !important;
}

:global(.react-datepicker__day:hover) {
  background-color: var(--color-hover) !important;
  border-radius: 50% !important;
  border: none !important;
}

:global(.react-datepicker__day--outside-month) {
  color: var(--color-disable-tetx) !important;
}

:global(.react-datepicker__day-name) {
  color: var(--color-accent) !important;
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--color-secondary) !important;
}

:global(.react-datepicker__month) {
  margin: 0 !important;
}
