.content {
  padding: 60px;
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 488px);
  grid-template-rows: repeat(3, auto);
  gap: 40px;
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.iconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.icon {
  width: 24px;
  height: 24px;
}

.subcategories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

.subcategoryItem {
  padding-left: 52px;
}

h2 {
  margin: 0;
}

.skill_title {
  font-size: 24px;
}
