.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 8px;

  border: 1px dashed var(--color-border);
  border-radius: 12px;
  background-color: transparent;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dropzone:not(.disabled):hover {
  border-color: var(--color-hover);
  opacity: 0.8;
}

.dropzone:not(.disabled):focus {
  outline: none;
}

.active {
  border-color: var(--color-accent);
  transform: scale(0.99);
}

.error {
  border-color: var(--color-error);
}

.errorMessage {
  font-size: 0.75em;
  color: var(--color-error);
  margin-left: 4px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-style: solid;
}

.mainText {
  letter-spacing: 0.02em;
  color: var(--color-border);
  text-align: center;
  margin-bottom: 0;
}

.selectImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.selectImageText {
  color: var(--color-accent);
  user-select: none;
}

.selectedCount {
  font-size: var(--font-size-base, 16px);
  font-weight: var(--font-weight-regular, 400);
  color: var(--color-text);
  margin: var(--space-4, 4px) 0 0;
}
