h1 {
  margin: 0;
}

.skillCard {
  background-color: var(--color-surface);
}

.contentContainer {
  position: relative; /* для плавающего размера вертикального разделения */
  right: 0;
  left: 0;
  display: grid;
  gap: 20px;
  grid-template-areas:
    'header gallery'
    'description gallery'
    'actions gallery';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 176px 48px;
  height: 324px;
  width: 100%;
}

.headerColumn {
  grid-area: header;
  min-height: 60px;
}

.descriptionColumn {
  grid-area: description;
  max-height: 144px;
  max-width: 420px;
  overflow: hidden;
  align-content: start;
}

.galleryColumn {
  grid-area: gallery;
  /* min-height: 324px; */
  min-width: 440px;
  max-width: 440px;
}

.actionsColumn {
  grid-area: actions;
  min-height: 48px;
  max-width: 420px;
  align-content: end;
}

.title {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 40px;
  margin-bottom: var(--space-4);
  text-align: left; /* Выравнивание по левому краю */
}

.category {
  color: var(--color-border);
  font-size: var(--font-size-xs);
  line-height: 16px;
  text-align: left; /* Выравнивание по левому краю */
}

.description {
  word-break: break-word;
  overflow: hidden;
  line-height: 1.5;
  /* margin-bottom: 32px; */
  text-align: left; /* Выравнивание по левому краю */
}

.actionsContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  max-height: 100%;
}

.galleryColumn {
  grid-area: gallery;
}

@media (max-width: 1400px) {
  .contentContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    min-height: 324px;
    height: fit-content;
  }

  .descriptionColumn {
    max-height: 100%;
  }
}

@media (max-width: 1200px) {
  .skillCard {
    height: auto;
    max-width: max-content;
    min-width: auto;
  }
  .contentContainer {
    grid-template-areas: 'gallery' 'header' 'description' 'actions';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    width: 100%;
  }

  .actionsColumn,
  .headerColumn,
  .galleryColumn,
  .descriptionColumn {
    max-width: 440px;
  }
}

@media (max-width: 960px) {
  .galleryColumn.galleryColumn {
    min-width: fit-content;
  }
}
